* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;  
}

body {
  min-height: 100%;  
  background: #eee;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}

.container {
  max-width: 700px;   
  background: #fff;
  margin: 0px auto 0px; 
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;  
  padding: 40px;
  margin-top: 50px;
}

.header {
  margin-bottom: 50px;
  
  .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .first-name {
    font-weight: 700;
  }
  
  .last-name {
    font-weight: 300;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .email ,
  .phone {
    color: #999;
    font-weight: 300;
  } 
  
  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }
  
  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }
}


.details {
  line-height: 20px;
  
  .section {
    margin-bottom: 40px;  
  }
  
  .section:last-of-type {
    margin-bottom: 0px;  
  }
  
  .section__title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .section__list-item {
    margin-bottom: 40px;
  }
  
  .section__list-item:last-of-type {
    margin-bottom: 0;
  }
  
  .left ,
  .right,
  .right_adjust{
    vertical-align: top;
    display: inline-block;
  }
  
  .left {
    width: 60%;    
  }
  
  .right {
    tex-align: right;
    width: 39%;    
  }

  .right_adjust {
    padding: 0 0 0 200px;    
  }
  
  .name {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: #000;
    font-style: italic;
  }
  
  a:hover {
    text-decoration: underline;
    color: #000;
  }
  
  .skills {
    
  }
    
  .skills__item {
    margin-bottom: 10px;  
  }
  
  .skills__item .right {
    input {
      display: none;
    }
    
    label {
      display: inline-block;  
      width: 20px;
      height: 20px;
      background: #C3DEF3;
      border-radius: 20px;
      margin-right: 3px;
    }
    
    input:checked + label {
      background: #79A9CE;
    }
  }
}

/* Row */
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch; }
  .row > * {
    box-sizing: border-box; }
  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0; }
  .row.aln-left {
    justify-content: flex-start; }
  .row.aln-center {
    justify-content: center; }
  .row.aln-right {
    justify-content: flex-end; }
  .row.aln-top {
    align-items: flex-start; }
  .row.aln-middle {
    align-items: center; }
  .row.aln-bottom {
    align-items: flex-end; }
  .row > .imp {
    order: -1; }
  .row > .col-1 {
    width: 8.33333%; }
  .row > .off-1 {
    margin-left: 8.33333%; }
  .row > .col-2 {
    width: 16.66667%; }
  .row > .off-2 {
    margin-left: 16.66667%; }
  .row > .col-3 {
    width: 25%; }
  .row > .off-3 {
    margin-left: 25%; }
  .row > .col-4 {
    width: 33.33333%; }
  .row > .off-4 {
    margin-left: 33.33333%; }
  .row > .col-5 {
    width: 41.66667%; }
  .row > .off-5 {
    margin-left: 41.66667%; }
  .row > .col-6 {
    width: 50%; }
  .row > .off-6 {
    margin-left: 50%; }
  .row > .col-7 {
    width: 58.33333%; }
  .row > .off-7 {
    margin-left: 58.33333%; }
  .row > .col-8 {
    width: 66.66667%; }
  .row > .off-8 {
    margin-left: 66.66667%; }
  .row > .col-9 {
    width: 75%; }
  .row > .off-9 {
    margin-left: 75%; }
  .row > .col-10 {
    width: 83.33333%; }
  .row > .off-10 {
    margin-left: 83.33333%; }
  .row > .col-11 {
    width: 91.66667%; }
  .row > .off-11 {
    margin-left: 91.66667%; }
  .row > .col-12 {
    width: 100%; }
  .row > .off-12 {
    margin-left: 100%; }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0em; }
    .row.gtr-0 > * {
      padding: 0 0 0 0em; }
    .row.gtr-0.gtr-uniform {
      margin-top: 0em; }
      .row.gtr-0.gtr-uniform > * {
        padding-top: 0em; }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.375em; }
    .row.gtr-25 > * {
      padding: 0 0 0 0.375em; }
    .row.gtr-25.gtr-uniform {
      margin-top: -0.375em; }
      .row.gtr-25.gtr-uniform > * {
        padding-top: 0.375em; }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.75em; }
    .row.gtr-50 > * {
      padding: 0 0 0 0.75em; }
    .row.gtr-50.gtr-uniform {
      margin-top: -0.75em; }
      .row.gtr-50.gtr-uniform > * {
        padding-top: 0.75em; }
  .row {
    margin-top: 0;
    margin-left: -1.5em; }
    .row > * {
      padding: 0 0 0 1.5em; }
    .row.gtr-uniform {
      margin-top: -1.5em; }
      .row.gtr-uniform > * {
        padding-top: 1.5em; }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -2.25em; }
    .row.gtr-150 > * {
      padding: 0 0 0 2.25em; }
    .row.gtr-150.gtr-uniform {
      margin-top: -2.25em; }
      .row.gtr-150.gtr-uniform > * {
        padding-top: 2.25em; }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -3em; }
    .row.gtr-200 > * {
      padding: 0 0 0 3em; }
    .row.gtr-200.gtr-uniform {
      margin-top: -3em; }
      .row.gtr-200.gtr-uniform > * {
        padding-top: 3em; }








